.profilepic
{
width :40px;
 height:40px;
 border-radius: 50%;
    float: left;
}

#tw
{
margin-top: 200px;
}

   .post_content{
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            height:auto;
            width:400px;
            margin-top: 50px;
            margin-left:100px;
            float: left;
}
.post_pic{
    width: 250px;
    height: 250px;
    margin-left: 50px;
    border-radius: 6px;
}
.btn_u
{
width: 30px;
height: 30px;
float: right;
margin-right: 200px;
}
  input[type="file"] {
    display: none;
}
.camera_btn{
width: 40px;
height: 40px;
float: left;
margin-left: 130px;
}
.camera_btn:hover
        {
            
            cursor: pointer;
        }
#flame
{
  width: 20px;
  height: 20px;
  margin-left: 50px;
  

}
#flame:hover {
  
  cursor: pointer;
  transform: scale(1.3); 

  }
  #cmt
{
  width: 20px;
  height: 20px;
  
margin-left: 345px;

  
}
#cmt:hover {
  
  cursor: pointer;
  transform: scale(1.3); 

  }
  @-ms-viewport{
  width: device-width;
}

#comment_section
{
  width:330px;
  height: 500px;
  float: right;
  border-radius:6px;
  background-color: #d9d9d9;
  margin-top: 10px;
  margin-right: 200px;
  padding-top: 5px;
  padding-left: 6px;
   overflow: auto;

}
#comment_text
{
  width:330px;
  height:50px;
  padding-left: 100px;
  border-radius:6px;
  margin-right: 200px;
  margin-top: 30px;
  background-color: #eee;
  float: right;
  
}
.comment_box
{
  
  border-radius:6px; 
  width: 230px;
}
.send_btn
{
  float: right;        
  width:30px;
  height:30px;
  margin-right: 5px;
}
.comment_ind
{
  width:300px;
  height:70px;
   background-color: #eee;
 
  border-radius:6px;
  margin-top: 20px;
 
}

.timeline{
   padding: 8px 16px;
   background-color: #00E506;
   text-decoration-line: none;
   border-radius: 6px;
    margin-right: 500px;
}
#logo
{
  position: relative;
z-index:99999;
left:70px;
top:20px;
border-radius: 6px;
}
.v_pic
{
  border-radius: 6px;
  width:100px;
  height: 100px; 
  margin-bottom: 30px;
}
.v_pic:hover
{
  transform: scale(1.3); 
}
.boxy
{
  margin-top:50px;
  height: 500px;
  width: 330px;
  background-color: #eee;
  float: left;
  overflow:auto;
  margin-left: 50px;
  padding-left: 15px;
}
#b_2
{
  width: 330px;
  float: left;
  margin-top: 560px;
  margin-left: -330px;
}
.v_text
{

  margin-left: 80px;
  width:100px;
  height:50px;
  border-radius:6px;
  background-color: #eee;
  float: left;
  
}
.hide {
  display: none;
}
    
.v_name:hover + .hide {
  display: block;
  color: red;
}
 